.filter_chip{display:contents;}
.data-iterator{width:100%;}
#fix-for-tab .tabs__slider-wrapper{display: none;}


#fix-for-tab .list__tile,#fix-for-tab .card__title{padding: 0 0 5px 5px;}
#fix-for-tab .list__tile{}

/*#fix-for-tab .list--dense .list__tile:not(.list__tile--avatar) {
    height: 18px;
}*/
#fix-for-tab .theme--light .card {margin-left: 10px;}

.container.fill-height .layout {height: auto;}

.main-list .card {border-top: 1px solid rgba(0,0,0,.2);    padding: 10px 10px 0 10px;}
.main-list{margin-left: 10px;margin-bottom: 5px;}



.input-group.input-group--overflow .input-group__selections{width: 100%;}

#top_center label{max-width: 80%;}


#top_center .input-group__details:before{display: none;}
#top_center .input-group__input::before{display: none;}

.fix-for-filter .input-group.input-group--overflow .input-group__append-icon{width: 8px;}

.list__tile{font-size: 11px; text-align: center;padding: 5px;height: auto;}


#top-filter{position: relative;}


/*top filter*/
.t-filter .list__tile{height: 30px;font-size: 13px;text-transform: capitalize;}
.custom-filter .list__tile{font-size: 13px;}

.topfilter:hover{background: rgba(0,0,0,.03);}
.topfilter .input-group label{font-size: 13px;}
.card .list__tile{font-size: 13px;height: 26px;}
.expansion-panel__container .header__icon{position: absolute;left: 0;}

#for-favorite .primary--text input{border: 1px solid #999;padding: 10px;}

.input-group label{font-size: 13px;}
/*filter tag*/
.fa-times:before {color: #8f8f8f;font-size: 13px;line-height: 18px;}

.right-search .menu{display: initial;width: 100%;}
.filter-search .chip .chip__content{height: 18px;background: #F9F9F9;color: #8f8f8f;}
.main_s_a .chip__content{padding: 0;/*border: 1px solid #875a7a !important;*/}
.main_s_l{background-color:#875a7a !important;color:white;padding:0 3px;line-height: 18px;height: 18px;}
.main_s_r{padding-left:5px;line-height: 18px;color: #8f8f8f;height: 18px;}

.main_s_a .btn--icon.btn--small{width: 18px;height: 18px;margin: 0 5px;}

.main_s_a{display: flex;border: 1px solid #875a7a;margin-right: 5px;margin-bottom:3px;background: #F9F9F9;font-size: 13px;}

.filter-search .avatar{border-radius: 0;background-color: #875A7B;}
.filter-search i{color: white;}
.filter-search .main_s_a i{color: inherit;font-size: 11px;}
.chip .avatar {
    min-width: 17px;
    width: 17px!important;
}
.filter-search .chip--small .icon, .filter-search .chip__close{font-size: 11px;}
.filter-search .chip--removable .chip__content{padding-right: 0;}
.filter-search .chip__close{margin: 0 3px;}
.custom-filter .expansion-panel__body{margin:0 25px;}
.custom-filter .input-group{padding-top: 0;}
.custom-filter .input-group--text-field label{top: 0;}
.input-group--select .input-group__selections__comma{font-size: 13px;}
.filter-search li{display: inline-block;list-style-type: none;}
.top-filter li{list-style-type: none;}
.filter-search{display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:center;align-content:flex-start;}
.filter-search .chip{border: 1px solid #875a7a;margin-left:0;margin-right: 5px;}

.right-search{flex-grow: 1;min-width: 200px;}
.input-group{padding-top: 0;}
.input-group--text-field label{top: 0;}
.topfilter .input-group__details{display: none;}

.input-group.input-group--selection-controls .input-group__input .icon--selection-control{font-size: 22px;font-weight: lighter;}

#item-title{font-size: 18px;color: #666666;margin-left: 8px;}



.picker__title{padding-top: 8px;}
.pagination .primary {
    background-color: #875a7a !important;
    border-color: #00a09d !important;
}
.theme--light .input-group:not(.input-group--error) label{color:#666666;}

.menu__activator .btn{margin: 6px 0;}
.myradioicon{margin-top: 5px;}
.myradioicon li{display: flex;align-items: center;margin-bottom: 5px;}
.myradioicon i{font-size: 13px;color: #616161;margin-left: 5px;}
.myradioicon input{width: 15px;height: 15px;margin: 0;cursor: pointer;}
.myradioicon label{margin-left: 3px;}

.gridwrap{display: flex;justify-content: flex-start;align-items: flex-start;width: 19%;border:1px solid #EEEEEE;margin: 5px;flex-grow: 1;}
.gridwrap .leftimg img{padding: 5px 5px 0 5px;width: 80px;height:100%;}

.maingridwrap{display: flex;justify-content:center;}

#toptitlesearch{display:flex;justify-content: flex-start; flex-wrap: wrap;padding-top: 10px;}
.toptitle{ flex:initial;width: 50%;}



.chip .icon{position: relative;}
.main_s_s{font-weight:normal;font-style: italic;margin-right: 3px;}

.list__tile__title{margin-left: 15px;}


/*menu drop filter**/
.menudown .input-group--append-icon.input-group--selection-controls.input-group--selection-controls label{position: absolute;left: 0;text-indent:25px;max-width: 100%;font-size: 13px;
  color: #666666;line-height: 34px;}
.menudown .input-group--selection-controls__ripple{display: none;}
.menudown .material-icons{display: none;}
.menudown .input-group__details{min-height: 0;padding-top:3px;}
.menudown .input-group__input .fa-check:before{color: white;display: none;text-indent: 6px;position: absolute;left: -28px;top:-5px;}
.menudown .input-group--active .fa-check:before{color: black;display: block;font-size: 13px;font-weight: bold;}
.menudown .input-group--active{color: #4d4d4d;font-weight: bold;}
.menudown li{line-height: 34px;}
.menudown li:hover{background: #EEEEEE;}
.menu_border_1{border-bottom: 1px solid #E5E5E5;}



.filter_fli{position: relative;}
.filter_fsub{position: absolute;right: 0;top: 0;color: black;}
.filter_fsub .btn{margin:0;}
.fa-trash-alt:before{color: #666666;}

.fav_search input{border: 1px solid #BDBDBD;padding: 0;}
#for-favorite .input-group__input{padding: 0;}
.expansion-panel__header{padding-top: 5px;padding-bottom: 5px; }


.btn--icon .btn__content:hover .fa-times:before{color: #424242;}
.theme--light .expansion-panel--focusable .expansion-panel__container:focus{background: white;}
.expansion-panel__header:hover{background: #EEE;}
.r_search .input-group label{height: 22px;line-height: 22px;}
.r_search .input-group--text-field input{height: 22px;line-height: 22px;}
.r_search .input-group .input-group__append-icon, .input-group .input-group__prepend-icon{font-size: 22px;}
.r_search .input-group__input{min-height: 22px;}
.theme--light .btn:not(.btn--icon):not(.btn--flat){background-color: #00a09d;color: white;}
.custom-filter .btn__content{text-transform: uppercase;}
.custom-filter .btn{margin: 5px 0;}

#icon-switch a{padding: 6px 9px;}
.router-link-active{background: #EEE;}
.table-top-margin{margin-top: 8px;}
.colright li{list-style-type: none;margin-bottom: 5px;margin-left: 10px;margin-top: 2px;}
.mymenufilter{text-align: left;}


@media only screen and (max-width:  600px){
.gridwrap{width: 100%;}
#top_arrow{position: absolute;right: 8px;bottom: 5px;}
/*.left-btn{position: absolute;top: 50px;}*/
/*#top_dropdown{height: 850px;}*/
#fix-for-tab .tabs__wrapper{height: 85px;margin: 10px;}

#toptitlesearch{display:flex;justify-content: flex-start;align-items: flex-end; flex-wrap: wrap;padding: 10px;}
.toptitle{ flex: 0 0 100%;margin-bottom: 10px;}
#fix-for-tab .tabs__item{top: 0;}
#search-wrap{margin:0 10px;}
.btn{margin:0;}
.toolbar__content .btn{min-width: auto;}
.toolbar__items .btn__content{padding:0 5px;}

table.table .input-group--selection-controls.checkbox .icon{top: 3px;}
.mymenufilter{text-align: center;margin-bottom: 20px;}
.left-btn{/*padding-bottom: 10px;padding-left: 8px;*/}
/**{box-sizing: border-box;}*/
.table__overflow .datatable thead th.column.sortable:nth-child(2){text-indent: 0;}
}
